@use "../public/fonts/yekan.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Yekan Bakh FaNum', sans-serif;
}

button {
  font-family: 'Yekan Bakh FaNum', sans-serif;
}
